@model LoginVM


<div class="container">
    <form class="form-horizontal" role="form" method="POST" asp-controller="Account" asp-action="Registration">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Create new account</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">UserName</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input asp-for="UserName" type="text" class="form-control" required autofocus placeholder="Username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input asp-for="Password" type="password" name="password" class="form-control" id="password" placeholder="Password"
                               required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Create new account</button>
            </div>
        </div>
    </form>
</div>